body{
    background-color: #27b1e7;
    color: white;
}
#wrapper {
    position: relative;
    height: 2000px;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    background-color: #5dc0e7;
}
#bagian-1 {
    position: relative;
}
.title {
        max-width: 1074px;
        width: 100%;
        display: block;
        margin: auto;
}
.topramen {
        position: relative;
        left: 30px;
}

#bagian-2 ul {
    display: flex;
    list-style: none;
}

#bagian-3oh {
    display: flex;
    background-color: #d9f3fd;
}

.ohalltext {
    display: block;
    width: 100%;
    margin-left: 1%;
}
.ohalltext p {
    color: rgb(31, 78, 105);
}

#bagian-3h {
    display: flex;
}
#hirugaoramen {
    display: flex;
    background-color: #d9f3fd;
    order: 2;
}

.Hirugaoaramendesc {
    padding: auto;
}
.hirugaoalltext {
    display: block;
    width: 100%;
    margin-left: 0%;
    background-color: #d9f3fd;
}
.hirugaoalltext p {
    color: rgb(31, 78, 105);
}

#bagian-3s {
    display: flex;
    background-color: #d9f3fd;
}

.soranoiroalltext {
    display: block;
    width: 100%;
    margin-left: 1%;
}
.soranoiroalltext p {
    color: rgb(31, 78, 105);
}

.kuupon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.Akusesu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}
.Akusesutext {
    color: #ffffff;
    text-align: center;
}