body{
    background-color: #46c5f2;
    color: white;
}
#wrapper {
    position: relative;
    height: 2000px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-image: ;
}
#bagian-1 {
    position: relative;
}
.title {
        max-width: 1074px;
        width: 100%;
        display: block;
        margin: auto;
}
.topramen {
        position: relative;
        left: 30px;
}